body{
    background-color: black;
    color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #edebf1;
    padding: 10px;
    color: rgb(244, 65, 65);
}
.brand{
    font-weight: bolder;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(182, 246, 8);
}

.search-bar{
    width: 60%;
}

.search-bar input{
    width: 55%;
    /* text-align:center; */
}
input::placeholder{
    padding: 10px;
    font-weight: bold;
}

.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(137, 12, 12);
}

.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #d4eb09;
    color: rgb(247, 34, 34);
    font-weight: bold;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
}

.img img{
    width: 300px;
    height: 250px;
    color: black;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    color: black;
}
.card-body{
    width: auto;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap:4rem;
    color: black;
    background-color: rgb(49, 100, 121);
}
.card-img-top{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black; 
        height: 100vh; 
        width: 300px;
        height: 250px;
        object-fit: cover; 
        filter: grayscale(100%);
        border: 2px solid white; 
        border-radius: 8px; 
        transition: 0.3s ease-in-out; 
    }
    
    .card-img-top:hover {
        filter: none; 
        transform: scale(1.1); 
    }
    
